<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/01_09_other_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import relevant libraries
import numpy as np

In [ ]:

# initialize arrayA as a one-dimensional numpy array
# containing the integers 0 to 5 inclusive
arrayA = np.arange(6)
arrayA

array([0, 1, 2, 3, 4, 5])

In [ ]:
# compute the square of each item in arrayA,
# creating a new numpy array
np.square(arrayA)

array([ 0,  1,  4,  9, 16, 25])

In [ ]:
# initialize arrayB as the following one-dimensional numpy array
arrayB = np.array([36, 49, 64, 81, 100, 121, 144, 169, 196, 225])

In [ ]:
# compute the square root of each item in arrayB,
# creating a new numpy array
np.sqrt(arrayB)

array([ 6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.])

In [ ]:
# compute the exponential of each item in arrayA,
# creating a new numpy array
np.exp(arrayA)

array([  1.        ,   2.71828183,   7.3890561 ,  20.08553692,
        54.59815003, 148.4131591 ])

In [ ]:
# initialize arrayC as a one-dimensional numpy array
# containing the integers 1 to 11 inclusive
arrayC = np.arange(1, 11)
arrayC

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
# compute the natural logarithm of each item in arrayC,
# creating a new numpy array
np.log(arrayC)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509])

In [ ]:
# initialize arrayD as a one-dimensional numpy array
# representing some angles in radians
arrayD = np.array([0, np.pi/6, np.pi/4, np.pi/3, np.pi/2, 2*np.pi/3, 3*np.pi/4, 5*np.pi/6, np.pi/2])
arrayD

array([0.        , 0.52359878, 0.78539816, 1.04719755, 1.57079633,
       2.0943951 , 2.35619449, 2.61799388, 1.57079633])

In [ ]:
# compute the sine of each item in arrayD,
# creating a new numpy array
np.sin(arrayD)

array([0.        , 0.5       , 0.70710678, 0.8660254 , 1.        ,
       0.8660254 , 0.70710678, 0.5       , 1.        ])

In [ ]:
# initialize arrayE as a one-dimensional numpy array containing the integers -10 to 10 inclusive
arrayE = np.arange(-10, 11)
arrayE

array([-10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,   1,   2,
         3,   4,   5,   6,   7,   8,   9,  10])

In [ ]:
# compute the absolute value of each item in arrayE,
# creating a new numpy array
np.abs(arrayE)

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0,  1,  2,  3,  4,  5,  6,
        7,  8,  9, 10])

In [ ]:
# initialize arrayF as the following one-dimensional numpy array
arrayF = np.arange(21)
arrayF

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [ ]:
# compute the sum of all the items in arrayF
np.sum(arrayF)

210

In [ ]:
# initialize arrayG as the following multi-dimensional numpy array
arrayG = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arrayG

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
# compute the sum of all the items in arrayG
np.sum(arrayG)

45

In [ ]:
# compute the sum of the items in each column of arrayG,
# creating a new numpy array containing the sum for each column
np.sum(arrayG, axis=0)

array([12, 15, 18])

In [ ]:
# compute the sum of the items in each row of arrayG,
# creating a new numpy array containing the sum for each row
np.sum(arrayG, axis=1)

array([ 6, 15, 24])