<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/01_05_groups_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import relevant libraries
import numpy as np

In [ ]:
# initialize array0
# as a one-dimensional numpy array containing integers 0 to 4 including 0 and 4
array0 = np.arange(5)
array0

array([0, 1, 2, 3, 4])

In [ ]:
# select the item at index 1 from array0
array0[1]

1

In [ ]:
# select the items at indices 1 to 3 inclusive from array0
array0[1:4]

array([1, 2, 3])

In [ ]:
# select the items at indices 0 to 3 inclusive from array0
array0[:4]

array([0, 1, 2, 3])

In [ ]:
# select the items starting at index 3 until the end of array0
array0[3:]

array([3, 4])

In [ ]:
# initialize array1 as a three-dimensional numpy array
array1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
array1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
# select the item in row 0 column 0 from array1 using double bracket notation
array1[0][0]

1

In [ ]:
# select the item in row 0 column 0 from array1 using single bracket notation
array1[0, 0]

1

In [ ]:
# select the item in row 1 column 2 from array1 using double bracket notation
array1[1][2]

6

In [ ]:
# select the item in row 1 column 2 from array1 using single bracket notation
array1[1, 2]

6

In [ ]:
# select first two items from row 0 of array1
array1[:1, :2]

array([[1, 2]])

In [ ]:
# select first two items from every row until row 1 inclusive from array1
array1[:2, :2]

array([[1, 2],
       [4, 5]])

In [ ]:
# select first two items from each row of array1
array1[:, :2]

array([[1, 2],
       [4, 5],
       [7, 8]])

In [ ]:
# select row 0 from array1
array1[0]

array([1, 2, 3])

In [ ]:
# select everything before row 2 from array1
array1[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
# initialize array2
# as a one-dimensional numpy array containing all even integers between 0 and 20 inclusive
array2 = np.arange(0, 21, 2)
array2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [ ]:
# select the items from array2 that are greater than or equal to 12
array2[array2 >= 12]

array([12, 14, 16, 18, 20])

In [ ]:
# select the items from array2 that are greater than 7 and less than 13
array2[(array2 > 7) & (array2 < 13)]

array([ 8, 10, 12])