<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/03_01_numpy_arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import relevant libraries
import numpy as np

In [ ]:
# create an empty numpy array & save in a variable
array0 = np.array([])
array0

array([], dtype=float64)

In [ ]:
# initialize list1 as a Python list
list1 = [1, 2, 3, 4, 5]

In [ ]:
# create a one-dimensional numpy array from list1 & save in a variable
array1 = np.array(list1)
array1

array([1, 2, 3, 4, 5])

In [ ]:
# initialize list2 as a nested Python list
list2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# create a two-dimensional numpy array from list2
array2 = np.array(list2)
array2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
# create a numpy array containing integers 0 to 4 including 0 and 4
np.arange(5)

array([0, 1, 2, 3, 4])

In [ ]:
# create a numpy array containing all even integers between 0 and 10 including 0 and 10
np.arange(0, 11, 2)

array([ 0,  2,  4,  6,  8, 10])

In [ ]:
# create a one-dimenstional numpy array containing 5 zeros
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [ ]:
# create a two-dimensional numpy array of zeros having 4 rows and 5 columns
np.zeros((4, 5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
# create a one-dimenstional numpy array containing 6 ones
np.ones(6)

array([1., 1., 1., 1., 1., 1.])

In [ ]:
# create a two-dimensional numpy array of ones having 4 rows and 6 columns
np.ones((4, 6))

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [ ]:
# create a numpy array of 9 evenly spaced numbers from 1 to 2, including 1 and 2
np.linspace(1, 2, 9)

array([1.   , 1.125, 1.25 , 1.375, 1.5  , 1.625, 1.75 , 1.875, 2.   ])

In [ ]:
# create a numpy array of 10 random integers from 20 to 50
np.random.randint(20, 50, 10)

array([24, 43, 46, 42, 24, 32, 27, 24, 46, 41])