<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/3_numpy_ufuncs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NumPy ufuncs**

ufuncs stands for "Universal Functions" and they are NumPy functions that operate on the ndarray object.

ufuncs are used to implement vectorization in NumPy which is way faster than iterating over elements.

They also provide broadcasting and additional methods like reduce, accumulate etc. that are very helpful for computation.

ufuncs also take additional arguments, like:

*where* boolean array or condition defining where the operations should take place.

*dtype* defining the return type of elements.

*out* output array where the return value should be copied.

Converting iterative statements into a vector based operation is called vectorization.

It is faster as modern CPUs are optimized for such operations.

Add the Elements of Two Lists
*list 1: [1, 2, 3, 4]*

*list 2: [4, 5, 6, 7]*

One way of doing it is to iterate over both of the lists and then sum each elements.

Without ufunc, we can use Python's built-in *zip()* method

In [1]:
x = [1, 2, 3, 4]
y = [4, 5, 6, 7]
z = []

for i, j in zip(x, y):
  z.append(i + j)
print(z)

[5, 7, 9, 11]

With ufunc, we can use the *add()* function:

In [2]:
import numpy as np

x = [1, 2, 3, 4]
y = [4, 5, 6, 7]
z = np.add(x, y)

print(z)

[ 5  7  9 11]

*Create Your Own ufunc*

To create your own ufunc, you have to define a function, like you do with normal functions in Python, then you add it to your NumPy ufunc library with the *frompyfunc()* method.

The *frompyfunc()* method takes the following arguments:

*function* - the name of the function.

*inputs* - the number of input arguments (arrays).

*outputs* - the number of output arrays.

In [3]:
def myadd(x, y):
  return x+y

myadd = np.frompyfunc(myadd, 2, 1)

print(myadd([1, 2, 3, 4], [5, 6, 7, 8]))

[6 8 10 12]

*Check if a Function is a ufunc*
Check the type of a function to check if it is a ufunc or not.

A ufunc should return *<class 'numpy.ufunc'>.*

In [4]:
print(type(np.add))

<class 'numpy.ufunc'>

Check the type of another function: *concatenate()*

In [5]:
print(type(np.concatenate))

<class 'numpy._ArrayFunctionDispatcher'>

Check the type of something that does not exist. This will produce an error:

In [7]:
print(type(np.blahblah))

AttributeError: module 'numpy' has no attribute 'blahblah'

To test if the function is a ufunc in an if statement, use the *numpy.ufunc* value (or np.ufunc if you use np as an alias for numpy):

In [8]:
if type(np.add) == np.ufunc:
  print('add is ufunc')
else:
  print('add is not ufunc')

add is ufunc

**Simple Arithmetic**

You could use arithmetic operators *+* *-* * */* directly between NumPy arrays, but this section discusses an extension of the same where we have functions that can take any array-like objects e.g. lists, tuples etc. and perform arithmetic conditionally.

Arithmetic Conditionally: means that we can define conditions where the arithmetic operation should happen.

All of the discussed arithmetic functions take a *where* parameter in which we can specify that condition.

*Addition*

The *add()* function sums the content of two arrays, and return the results in a new array.

In [9]:
arr1 = np.array([10, 11, 12, 13, 14, 15])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = np.add(arr1, arr2)

print(newarr)

[30 32 34 36 38 40]

*Subtraction*

The *subtract()* function subtracts the values from one array with the values from another array, and return the results in a new array.

In [ ]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = np.subtract(arr1, arr2)

print(newarr)

*Multiplication*

The *multiply()* function multiplies the values from one array with the values from another array, and return the results in a new array.

In [10]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = np.multiply(arr1, arr2)

print(newarr)

[ 200  420  660  920 1200 1500]

*Division*

The *divide()* function divides the values from one array with the values from another array, and return the results in a new array.

In [11]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 5, 10, 8, 2, 33])

newarr = np.divide(arr1, arr2)

print(newarr)

[ 3.33333333  4.          3.          5.         25.          1.81818182]

*Power*

The *power()* function rises the values from the first array to the power of the values of the second array, and return the results in a new array

In [13]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 5, 6, 8, 2, 33])

newarr = np.power(arr1, arr2)

print(newarr)

[         1000       3200000     729000000 6553600000000          2500
             0]

*Remainder*
Both the *mod()* and the *remainder()* functions return the remainder of the values in the first array corresponding to the values in the second array, and return the results in a new array.

In [14]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 7, 9, 8, 2, 33])

newarr = np.mod(arr1, arr2)
# newarr = np.remainder(arr1, arr2)
print(newarr)

[ 1  6  3  0  0 27]

*Quotient and Mod*

The *divmod()* function return both the quotient and the mod. The return value is two arrays, the first array contains the quotient and second array contains the mod.

In [16]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 7, 9, 8, 2, 33])

newarr = np.divmod(arr1, arr2)

print(newarr)

(array([ 3,  2,  3,  5, 25,  1]), array([ 1,  6,  3,  0,  0, 27]))

*Absolute Values*

Both the *absolute()* and the *abs()* functions do the same absolute operation element-wise but we should use *absolute()* to avoid confusion with python's inbuilt *math.abs()*

In [17]:
arr = np.array([-1, -2, 1, 2, 3, -4])

newarr = np.absolute(arr)

print(newarr)

[1 2 1 2 3 4]

**Rounding Decimals**

There are primarily five ways of rounding off decimals in NumPy:


*   truncation
*   fix
*   rounding
*   floor
*   ceil

*Truncation*

Remove the decimals, and return the float number closest to zero. Use the *trunc()* and *fix()* functions.

In [18]:
arr = np.trunc([-3.1666, 3.6667])

print(arr)

[-3.  3.]

Same example, using *fix()*

In [19]:
arr = np.fix([-3.1666, 3.6667])

print(arr)

[-3.  3.]

*Rounding*

The *around()* function increments preceding digit or decimal by 1 if >=5 else do nothing.

E.g. round off to 1 decimal point, 3.16666 is 3.2

In [20]:
arr = np.around(3.1666, 2)

print(arr)

3.17

*Ceil*

The *ceil()* function rounds off decimal to nearest upper integer.

E.g. ceil of 3.166 is 4.

In [21]:
arr = np.ceil([-3.1666, 3.6667])

print(arr)

[-3.  4.]

**NumPy Logs**

NumPy provides functions to perform log at the base 2, e and 10.

We will also explore how we can take log for any base by creating a custom ufunc.

All of the log functions will place -inf or inf in the elements if the log can not be computed.

*Log at Base 2*

Use the *log2()* function to perform log at the base 2.

In [24]:
arr = np.arange(1, 10) #1,2,3,4,5,6,7,8,9

print(np.log2(arr))

[0.         1.         1.5849625  2.         2.32192809 2.5849625
 2.80735492 3.         3.169925  ]

*Log at Base 10*

Use the *log10()* function to perform log at the base 10

In [25]:
arr = np.arange(1, 10)

print(np.log10(arr))

[0.         0.30103    0.47712125 0.60205999 0.69897    0.77815125
 0.84509804 0.90308999 0.95424251]

*Natural Log, or Log at Base e*

Use the *log()* function to perform log at the base e

In [26]:
arr = np.arange(1, 10)

print(np.log(arr))

[0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
 1.94591015 2.07944154 2.19722458]

*Log at Any Base*

NumPy does not provide any function to take log at any base, so we can use the *frompyfunc()* function along with inbuilt function *math.log()* with two input parameters and one output parameter:

In [28]:
from math import log

# def log_asos(x, asos):
#     return log(x) / log(asos)
nplog = np.frompyfunc(log, 2, 1)

print(nplog(100, 15))

1.7005483074552052

**NumPy Summations**

Addition is done between two arguments whereas summation happens over n elements.

In [29]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([1, 2, 3])

newarr = np.add(arr1, arr2)

print(newarr)

[2 4 6]

Sum the values in arr1 and the values in arr2

In [30]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([1, 2, 3])

newarr = np.sum([arr1, arr2])

print(newarr)

12

*Summation Over an Axis*

If you specify *axis=1*, NumPy will sum the numbers in each array

In [34]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([1, 2, 3])

newarr = np.sum([arr1, arr2], axis=1)

print(newarr)

[6 6]

In [35]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([1, 2, 3])

newarr = np.sum([arr1, arr2], axis=0)

print(newarr)

[2 4 6]

*Cummulative Sum*

Cummulative sum means partially adding the elements in array.

E.g. The partial sum of [1, 2, 3, 4] would be [1, 1+2, 1+2+3, 1+2+3+4] = [1, 3, 6, 10].

Perfom partial sum with the cumsum() function.

In [ ]:
arr = np.array([1, 2, 3])

newarr = np.cumsum(arr) # match fibonacci

print(newarr)

**NumPy Products**

To find the product of the elements in an array, use the *prod()* function.

In [36]:
arr = np.array([1, 2, 3, 4])

x = np.prod(arr) #1*2*3*4 = 24

print(x)

24

In [37]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

x = np.prod([arr1, arr2]) #1*2*3*4 * 5*6*7*8 = 4032

print(x)

40320

*Product Over an Axis*
If you specify *axis=1*, NumPy will return the product of each array.

In [39]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

newarr = np.prod([arr1, arr2], axis=1)

print(newarr)

[  24 1680]

*axis=0*

In [40]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

newarr = np.prod([arr1, arr2], axis=0)

print(newarr)

[ 5 12 21 32]

*Cummulative product* means taking the product partially.

E.g. The partial product of [1, 2, 3, 4] is [1, 1*2, 1*2*3, 1*2*3*4] = [1, 2, 6, 24]

Perfom partial sum with the *cumprod()* function.

In [41]:
arr = np.array([5, 6, 7, 8])

newarr = np.cumprod(arr)  # cummulative product

print(newarr)

[   5   30  210 1680]

**NumPy Differences**

A discrete difference means subtracting two successive elements.

E.g. for [1, 2, 3, 4], the discrete difference would be [2-1, 3-2, 4-3] = [1, 1, 1]

To find the discrete difference, use the *diff()* function.

In [42]:
arr = np.array([10, 15, 25, 5])

newarr = np.diff(arr)

print(newarr)

[  5  10 -20]

We can perform this operation repeatedly by giving parameter n.

E.g. for [1, 2, 3, 4], the discrete difference with n = 2 would be [2-1, 3-2, 4-3] = [1, 1, 1] , then, since n=2, we will do it once more, with the new result: [1-1, 1-1] = [0, 0]

In [43]:
arr = np.array([10, 15, 25, 5])

newarr = np.diff(arr, n=2)

print(newarr)

[  5 -30]

**NumPy LCM Lowest Common Multiple**

The Lowest Common Multiple is the smallest number that is a common multiple of two numbers.

In [44]:
num1 = 4
num2 = 6

x = np.lcm(num1, num2) #(4*3=12 and 6*2=12) EKUK

print(x)

12

*Finding LCM in Arrays*
To find the Lowest Common Multiple of all values in an array, you can use the *reduce()* method.

The *reduce()* method will use the ufunc, in this case the *lcm()* function, on each element, and reduce the array by one dimension.

In [45]:
arr = np.array([3, 6, 9])

x = np.lcm.reduce(arr)

print(x)

18

Find the LCM of all values of an array where the array contains all integers from 1 to 10

In [47]:
arr = np.arange(1, 11) #1,2,3,4,5,6,7,8,9,10

x = np.lcm.reduce(arr)

print(x)

2520

**NumPy GCD Greatest Common Denominator**

The GCD (Greatest Common Denominator), also known as HCF (Highest Common Factor) is the biggest number that is a common factor of both of the numbers.

In [48]:
num1 = 6
num2 = 9

x = np.gcd(num1, num2)#(6/3=2 and 9/3=3)

print(x)

3

*Finding GCD in Arrays*

To find the Highest Common Factor of all values in an array, you can use the *reduce()* method.

The *reduce()* method will use the ufunc, in this case the *gcd()* function, on each element, and reduce the array by one dimension.

In [49]:
arr = np.array([20, 8, 32, 36, 16])

x = np.gcd.reduce(arr)

print(x)

4

**NumPy Trigonometric Functions**

NumPy provides the ufuncs *sin()*, *cos()* and *tan()* that take values in radians and produce the corresponding sin, cos and tan values.

In [50]:
x = np.sin(np.pi/2)

print(x)

1.0

Find sine values for all of the values in arr

In [51]:
arr = np.array([np.pi/2, np.pi/3, np.pi/4, np.pi/5])

x = np.sin(arr)

print(x)

[1.         0.8660254  0.70710678 0.58778525]

**Convert Degrees Into Radians**
By default all of the trigonometric functions take radians as parameters but we can convert radians to degrees and vice versa as well in NumPy.

Note: radians values are pi/180 * degree_values.

In [52]:
arr = np.array([90, 180, 270, 360])

x = np.deg2rad(arr)

print(x)

[1.57079633 3.14159265 4.71238898 6.28318531]

Radians to Degrees

In [53]:
arr = np.array([np.pi/2, np.pi, 1.5*np.pi, 2*np.pi])

x = np.rad2deg(arr)

print(x)

[ 90. 180. 270. 360.]

Finding Angles
Finding angles from values of sine, cos, tan. E.g. sin, cos and tan *inverse (arcsin, arccos, arctan)*.

NumPy provides ufuncs *arcsin(), arccos() and arctan()* that produce radian values for corresponding sin, cos and tan values given.

In [54]:
x = np.arcsin(1.0)

print(x)

1.5707963267948966

Angles of Each Value in Arrays

In [55]:
arr = np.array([1, -1, 0.1])

x = np.arcsin(arr)

print(x)

[ 1.57079633 -1.57079633  0.10016742]

**Hypotenues**

Finding hypotenues using pythagoras theorem in NumPy.

NumPy provides the *hypot()* function that takes the base and perpendicular values and produces hypotenues based on pythagoras theorem.

In [56]:
base = 3
perp = 4

x = np.hypot(base, perp)

print(x)

5.0

**NumPy Hyperbolic Functions**

NumPy provides the ufuncs *sinh(), cosh() and tanh()* that take values in radians and produce the corresponding sinh, cosh and tanh values..

In [57]:
x = np.sinh(np.pi/2)

print(x)

2.3012989023072947

In [58]:
arr = np.array([np.pi/2, np.pi/3, np.pi/4, np.pi/5])

x = np.cosh(arr)

print(x)

[2.50917848 1.60028686 1.32460909 1.20397209]

*Finding angles* from values of hyperbolic sine, cos, tan. E.g. sinh, cosh and tanh *inverse (arcsinh, arccosh, arctanh)*.

Numpy provides ufuncs *arcsinh(), arccosh() and arctanh()* that produce radian values for corresponding sinh, cosh and tanh values given.

In [59]:
x = np.arcsinh(1.0)

print(x)

0.881373587019543

Angles of Each Value in Arrays

In [60]:
arr = np.array([0.1, 0.2, 0.5])

x = np.arctanh(arr)

print(x)

[0.10033535 0.20273255 0.54930614]

**NumPy Set Operations**

A set in mathematics is a collection of unique elements.

Sets are used for operations involving frequent intersection, union and difference operations.

*Create Sets in NumPy*
We can use NumPy's *unique()* method to find unique elements from any array. E.g. create a set array, but remember that the set arrays should only be 1-D arrays.

In [61]:
arr = np.array([1, 1, 1, 2, 3, 4, 5, 5, 6, 7])

x = np.unique(arr)

print(x)

[1 2 3 4 5 6 7]

Finding Union
To find the unique values of two arrays, use the *union1d()* method.

In [62]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([3, 4, 5, 6])

newarr = np.union1d(arr1, arr2)

print(newarr)

[1 2 3 4 5 6]

*Finding Intersection*

To find only the values that are present in both arrays, use *the intersect1d()* method.

In [63]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([3, 4, 5, 6])

newarr = np.intersect1d(arr1, arr2, assume_unique=True)

print(newarr)

[3 4]

Note: the *intersect1d()* method takes an optional argument assume_unique, which if set to True can speed up computation. It should always be set to True when dealing with sets.

*Finding Difference*

To find only the values in the first set that is NOT present in the seconds set, use the *setdiff1d()* method.

In [65]:
set1 = np.array([1, 2, 3, 4])
set2 = np.array([3, 4, 5, 6])

newarr = np.setdiff1d(set2, set1, assume_unique=True)

print(newarr)

[5 6]

Note: the *setdiff1d()* method takes an optional argument assume_unique, which if set to True can speed up computation. It should always be set to True when dealing with sets.

*Finding Symmetric Difference*

To find only the values that are NOT present in BOTH sets, use the *setxor1d()* method.

In [66]:
set1 = np.array([1, 2, 3, 4])
set2 = np.array([3, 4, 5, 6])

newarr = np.setxor1d(set1, set2, assume_unique=True)

print(newarr)

[1 2 5 6]

Note: the setxor1d() method takes an optional argument assume_unique, which if set to True can speed up computation. It should always be set to True when dealing with sets.