<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/AGGREGATIONS_BASICS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aggregation = Making one from many

In [ ]:
import numpy as np

In [ ]:
scores = np.array([85, 92, 78, 95, 88])
print("Scores:", scores)

Scores: [85 92 78 95 88]

TOTAL points

In [ ]:
total = scores.mean()
print("Total:", total)

Total: 87.6

AVERAGE score

In [ ]:
average = scores.mean()
print("Average:", average)

Average: 87.6

#Weekly temperature ðŸŒ¡ï¸

In [ ]:
temp = np.array([22, 25, 23, 20, 24, 26, 21])
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

print("Weekly temperature ðŸŒ¡ï¸:")
for day, t in zip(days, temp):
  print(f"{day}: {t}Â°C")

Weekly temperature ðŸŒ¡ï¸:
Monday: 22Â°C
Tuesday: 25Â°C
Wednesday: 23Â°C
Thursday: 20Â°C
Friday: 24Â°C
Saturday: 26Â°C
Sunday: 21Â°C

Average temperature

In [ ]:
avg_temp = temp.mean()
print(f"Average temperature:{avg_temp:.1f}Â°C")

Average temperature:23.0Â°C

The hottest day

In [ ]:
hottest = temp.max()
print(f"The hottest day is {hottest}Â°C")

The hottest day is 26Â°C

#Monthly expenses

In [ ]:
expenses = np.array([150, 200, 180, 170])
print("Monthly expenses:", expenses)

Monthly expenses: [150 200 180 170]

Monthly total

In [ ]:
monthly_total = expenses.sum()
print("Monthly total:", monthly_total)

Monthly total: 700

Weekly average

In [ ]:
weekly_avg = expenses.mean()
print("Weekly average:", weekly_avg)

Weekly average: 175.0

Budget analysis

In [ ]:
budget = 800
print("Budget:", budget)

Budget: 800

In [ ]:
if monthly_total > budget:
  saved = budget - monthly_total
  print(f"Budget saved {saved}")
else:
  over = monthly_total - budget
  print(f"Budget over by {over}")

Budget over by -100

#Store sales

In [ ]:
sales = np.array([500, 600, 450, 700, 800, 550, 650])
print("Store sales:", sales)

Store sales: [500 600 450 700 800 550 650]

Total sales

In [ ]:
total = sales.sum()
print("Total sales:", total)

Total sales: 4250

Average sales

In [ ]:
average = sales.mean()
print("Average sales:", average)

Average sales: 607.1428571428571

#Student score

In [ ]:
student_scores = np.array([75, 85, 90, 65, 95, 80, 70, 88, 92, 78])
print("Student scores:", student_scores)

Student scores: [75 85 90 65 95 80 70 88 92 78]

Average score

In [ ]:
average_score = student_scores.mean()
print("Average score:", average_score)

Average score: 81.8

All score

In [ ]:
total_score = student_scores.sum()
print("Total score:", total_score)

Total score: 818

#Transportation cost (sum)

In [ ]:
transport = np.array([5000, 5000, 6000, 5500, 5000,
                      4500, 5000, 5500, 6000, 5000,
                      5000, 5500, 5000, 4500, 5000,
                      5500, 6000, 5000, 5000, 5500,
                      5000, 4500, 5000, 5500, 6000,
                      5000, 5000, 5500, 5000, 4500])
print("Transportation cost:", transport)

Transportation cost: [5000 5000 6000 5500 5000 4500 5000 5500 6000 5000 5000 5500 5000 4500
 5000 5500 6000 5000 5000 5500 5000 4500 5000 5500 6000 5000 5000 5500
 5000 4500]

Monthly total sum

In [ ]:
total_monthly = transport.sum()
print("Monthly total sum:", total_monthly)

Monthly total sum: 155500

Monthly average

In [ ]:
average_monthly = transport.mean()
print(f"Monthly average:{average_monthly:.1f}")

Monthly average:5183.3