<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/MATRIX_OPERATIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Matrix multiplication

![image.png]()

![image.png]()

**CV da:**

üñºÔ∏è Image transformations (rotate, scale, shear)

üé® Color space conversions (RGB ‚Üí Grayscale)

üîç Convolutions (filters)

üìê Perspective transforms

**ML da:**

ü§ñ Neural networks (weights √ó inputs)

üìä Data transformations

üéØDimensionality reduction

![image.png]()

In [1]:
import numpy as np

In [2]:
A = np.array([[1, 2],
              [3, 4]])
B = np.array([[5, 6],
              [7, 8]])

print("Matrix A:")
print(A)
print("\nMatrix B:")
print(B)

Matrix A:
[[1 2]
 [3 4]]

Matrix B:
[[5 6]
 [7 8]]

ELEMENT-WISE MULTIPLICATION (*)

In [3]:
result_elementwise = A * B
print("\nElement-wise multiplication:")
print(result_elementwise)

Element-wise multiplication:
[[ 5 12]
 [21 32]]

MATRIX MULTIPLICATION (@)

In [4]:
result_matrix = A @ B
print("Matrix multiplication:")
print(result_matrix)

Matrix multiplication:
[[19 22]
 [43 50]]

np.dot()

In [5]:
result_dot = np.dot(A, B)
print("np.dot(A, B)  (same as @):")
print(result_dot)

np.dot(A, B)  (same as @):
[[19 22]
 [43 50]]

#Dot Product (1D)

In [6]:
v1 = np.array([1, 2, 3])
v2 = np.array([4, 5, 6])
print("v1:", v1)
print("v2:", v2)

v1: [1 2 3]
v2: [4 5 6]

DOT PRODUCT

In [7]:
dot_protuct = np.dot(v1, v2)
print("Dot product (v1 ¬∑ v2):", dot_protuct)

Dot product (v1 ¬∑ v2): 32

@ operator

In [8]:
dot_product = v1 @ v2
print("Using @ operator:", dot_protuct)

Using @ operator: 32

Manual calculation

In [9]:
manual = v1[0]*v2[0] + v1[1]*v2[1] + v1[2]*v2[2]
print("Manual calculation:", manual)

Manual calculation: 32

sum(element-wise)

In [10]:
manual = np.sum(v1 * v2)
print("Using sum(element-wise):", manual)

Using sum(element-wise): 32

#Matrix Shapes and Rules

(m, n) @ (n, p) = (m, p)

In [11]:
A = np.array([[1, 2, 3],
              [4, 5, 6]])

B = np.array([[7, 8],
              [9, 10],
              [11, 12]])

C = A @ B
print("A shape:", A.shape)
print("B shape:", B.shape)
print("C = A @ B:")
print(C)
print("C shape:", C.shape)

A shape: (2, 3)
B shape: (3, 2)
C = A @ B:
[[ 58  64]
 [139 154]]
C shape: (2, 2)

In [12]:
D = np.random.randint(0, 10, size=(3, 4))
E = np.random.randint(0, 10, size=(4, 1))
F = D @ E
print("D shape:", D.shape)
print("E shape:", E.shape)
print("F = D @ E:")
print(F)
print("F shape:", F.shape)

D shape: (3, 4)
E shape: (4, 1)
F = D @ E:
[[141]
 [ 82]
 [ 34]]
F shape: (3, 1)

ERROR!

In [13]:
try:
  G = np.array([[1, 2], [3, 4]])
  H = np.array([[5, 6, 7], [8, 9, 10]])
  I = G @ H
  print("I = G @ H:")
  print(I)
  print("I shape:", I.shape)
except ValueError as e:
  print("ValueError:", e)
  print("G shape:", G.shape)
  print("H shape:", H.shape)
  print("Can't multiply: inner dimentions don't match!")

I = G @ H:
[[21 24 27]
 [47 54 61]]
I shape: (2, 3)

#Transpose(T)

In [14]:
A = np.array([[1, 2, 3],
              [4, 5, 6]])
print("A:")
print(A)
print("A shape:", A.shape)

A:
[[1 2 3]
 [4 5 6]]
A shape: (2, 3)

TRANSPOSE (.T)

In [15]:
A_T = A.T
print("Transposed A.T:")
print(A_T)
print("A_T.shape:", A_T.shape)

Transposed A.T:
[[1 4]
 [2 5]
 [3 6]]
A_T.shape: (3, 2)

Transpose SWAPS rows ‚Üî columns!

In [16]:
print("Original:")
print("Row 0:", A[0])
print("Row 1:", A[1])

Original:
Row 0: [1 2 3]
Row 1: [4 5 6]

In [17]:
print("Transposed:")
print("Row 0:", A_T[0])
print("Row 1:", A_T[1])
print("Row 2:", A_T[2])

Transposed:
Row 0: [1 4]
Row 1: [2 5]
Row 2: [3 6]

#Real-world - Image Transformation

In [18]:
img = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]], dtype=np.float32)
print("Original image:")
print(img)

Original image:
[[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

ROTATION MATRIX (90 degrees counterclockwise)

This is simplified - real rotation uses homogeneous coordinates

For demonstration: transpose then flip

Image operations: Transpose, rotate, flip - barchasi matrix operations! üé®

Method 1: Transpose

In [19]:
rotated_90 = np.transpose(img)
print("Rotated 90 degrees counterclockwise:")
print(rotated_90)

Rotated 90 degrees counterclockwise:
[[1. 4. 7.]
 [2. 5. 8.]
 [3. 6. 9.]]

In [20]:
transpose = img.T
print("Transposed:")
print(transpose)

Transposed:
[[1. 4. 7.]
 [2. 5. 8.]
 [3. 6. 9.]]

Method 2: np.rot90 (built-in)

In [21]:
rotated = np.rot90(img)
print("Rotated 90 degrees counterclockwise:")
print(rotated)

Rotated 90 degrees counterclockwise:
[[3. 6. 9.]
 [2. 5. 8.]
 [1. 4. 7.]]

FLIP

In [22]:
flipped_lr = np.fliplr(img) #Left-Right
print("Flipped left-right:")
print(flipped_lr)

Flipped left-right:
[[3. 2. 1.]
 [6. 5. 4.]
 [9. 8. 7.]]

In [23]:
flipped_ud = np.flipud(img) #Up-Down
print("Flipped up-down:")
print(flipped_ud)

Flipped up-down:
[[7. 8. 9.]
 [4. 5. 6.]
 [1. 2. 3.]]

#RGB to Grayscale Conversion

In [24]:
rgb_pixel = np.array([100, 150, 200])

 Grayscale conversion weights (standard formula)

Gray = 0.299*R + 0.587*G + 0.114*B

In [25]:
weights = np.array([0.299, 0.587, 0.114])

Dot product!

In [26]:
gray_value = np.dot(rgb_pixel, weights)
print("RGB:", rgb_pixel)
print("Weights:", weights)
print("Grayscale value:", gray_value)

RGB: [100 150 200]
Weights: [0.299 0.587 0.114]
Grayscale value: 140.75

For entire RGB image (simplified 2x2x3)

In [27]:
rgb_image = np.array([[[100, 150, 200], [50, 75, 100]],
                      [[200, 100, 50], [75, 125, 175]]], dtype=np.float32)
print("RGB image shape:", rgb_image.shape)

RGB image shape: (2, 2, 3)

Reshape to (pixels, channels)

In [28]:
pixels = rgb_image.reshape(-1, 3)
print("Pixels shape:", pixels.shape)

Pixels shape: (4, 3)

Matrix multiplication!

In [29]:
gray_image = pixels @ weights
print("Grayscale values:", gray_image)

Grayscale values: [140.75   70.375 124.2   115.75 ]

Reshape back

In [30]:
gray_image = gray_image.reshape(2, 2)
print("Grayscale image:")
print(gray_image)

Grayscale image:
[[140.75   70.375]
 [124.2   115.75 ]]

Real CV application: RGB ‚Üí Grayscale using matrix multiplication! üé®

#Identity Matrix

Identity matrix (I)

In [31]:
I = np.eye(3)
print("Identity matrix (3x3):")
print(I)

Identity matrix (3x3):
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Property: A @ I = A

 Same as A!

In [32]:
A = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

result = A @ I
print("A @ I:")
print(result)

A @ I:
[[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

Identity matrix is like "1" for matrices!

 A * 1 = A  (scalars)

 A @ I = A  (matrices)

In [33]:
print("\n A @ I == A?", np.array_equal(result, A))

 A @ I == A? True

#PRACTICE

In [34]:
A = np.array([[2, 3],
              [4, 5]])

B = np.array([[1, 0],
              [0, 1]])

A @ B (matrix multiplication)

In [35]:
result = A @ B
print("A @ B:")
print(result)

A @ B:
[[2 3]
 [4 5]]

A * B (element-wise)

In [36]:
result = A * B
print("A * B:")
print(result)

A * B:
[[2 0]
 [0 5]]

A @ A (A squared)

In [37]:
result = A @ A
print("A @ A:")
print(result)

A @ A:
[[16 21]
 [28 37]]

DOT PRODUCT

In [38]:
v1 = np.array([1, 2, 3, 4])
v2 = np.array([5, 6, 7, 8])

Dot product (v1 ¬∑ v2)

In [39]:
result_dot = np.dot(v1, v2)
print("Dot product (v1 ¬∑ v2):", result_dot)

Dot product (v1 ¬∑ v2): 70

Manual calculation (v1*v2) sum

In [40]:
manual = np.sum(v1 * v2)
print("Manual calculation (v1*v2):", manual)

Manual calculation (v1*v2): 70

TRANSPOSE

In [41]:
M = np.array([[1, 2, 3],
              [4, 5, 6]])

Transpose M

In [42]:
transpose_v1 = M.T
print("Transposed M:")
print(transpose_v1)

Transposed M:
[[1 4]
 [2 5]
 [3 6]]

In [43]:
transpose_v2 = np.transpose(M)
print("Transposed M:")
print(transpose_v2)

Transposed M:
[[1 4]
 [2 5]
 [3 6]]

Transpose M.T

In [44]:
transpose_v3 = transpose_v1.T
print("Transposed M.T:")
print(transpose_v3)

Transposed M.T:
[[1 2 3]
 [4 5 6]]

SHAPE CHECKING

In [45]:
X = np.random.randint(0, 100, size=(3, 4), dtype=np.uint8)
Y = np.random.randint(0, 100, size=(4, 2), dtype=np.uint8)
print("X shape:", X.shape)
print("Y shape:", Y.shape)

X shape: (3, 4)
Y shape: (4, 2)

In [46]:
Z = X @ Y
print("Z = X @ Y:")
print(Z)
print("Z shape:", Z.shape)

Z = X @ Y:
[[ 31 182]
 [ 88 220]
 [234  10]]
Z shape: (3, 2)

In [47]:
L = np.random.randint(0, 100, size=(5, 3), dtype=np.uint8)
K = np.random.randint(0, 100, size=(3, 1), dtype=np.uint8)
print("L shape:", L.shape)
print("K shape:", K.shape)

L shape: (5, 3)
K shape: (3, 1)

In [48]:
J = L @ K
print("J = L @ K:")
print(J)
print("J shape:", J.shape)

J = L @ K:
[[ 70]
 [116]
 [197]
 [ 95]
 [168]]
J shape: (5, 1)

RGB TO GRAYSCALE

In [49]:
rgb = np.array([255, 128, 64])
weights = np.array([0.299, 0.587, 0.114])

gray = np.dot(rgb, weights)
print("RGB:", rgb)
print("Weights:", weights)
print("Grayscale value:", gray)

RGB: [255 128  64]
Weights: [0.299 0.587 0.114]
Grayscale value: 158.67699999999996

IDENTITY MATRIX

In [50]:
I = np.eye(4)
print("Identity matrix (4x4):")
print(I)

Identity matrix (4x4):
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [51]:
A = np.random.randint(0, 100, size=(4, 4), dtype=np.uint8)
dot = A @ I
print("A @ I:")
print(dot)

A @ I:
[[58. 87. 58. 61.]
 [93. 99. 33. 57.]
 [65. 50.  9. 87.]
 [43. 33. 33. 82.]]

In [52]:
print("Equal A == dot:", np.array_equal(A, dot))

Equal A == dot: True

IMAGE OPERATIONS

In [53]:
img = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
print("Original image:")
print(img)

Original image:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Transpose

In [54]:
transpose = np.transpose(img)
print("Transposed:")
print(transpose)

Transposed:
[[1 4 7]
 [2 5 8]
 [3 6 9]]

90¬∞ rotate

In [55]:
rot_90 = np.rot90(img)
print("Rotated 90 degrees counterclockwise:")
print(rot_90)

Rotated 90 degrees counterclockwise:
[[3 6 9]
 [2 5 8]
 [1 4 7]]

Left-right flip

In [56]:
flipped_lr = np.fliplr(img)
print("Flipped left-right:")
print(flipped_lr)

Flipped left-right:
[[3 2 1]
 [6 5 4]
 [9 8 7]]

Matrix multiplication manually

In [57]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
print("A:")
print(A)
print("B:")
print(B)

A:
[[1, 2], [3, 4]]
B:
[[5, 6], [7, 8]]

In [58]:
print(A[0][0])

1

In [59]:
manual = [[A[0][0] * B[0][0] + A[0][1] * B[1][0], A[0][0] * B[0][1] + A[0][1] * B[1][1]],
                  [A[1][0] * B[0][0] + A[1][1] * B[1][0], A[1][0] * B[0][1] + A[1][1] * B[1][1]]]

In [60]:
print("Manual A @ B:")
print(manual)

Manual A @ B:
[[19, 22], [43, 50]]

In [61]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])
print("A:")
print(A)
print("B:")
print(B)

A:
[[1 2]
 [3 4]]
B:
[[5 6]
 [7 8]]

In [62]:
manual = np.array([[A[0, 0] * B[0, 0] + A[0, 1] * B[1, 0], A[0, 0] * B[0, 1] + A[0, 1] * B[1, 1]],
                  [A[1, 0] * B[0, 0] + A[1, 1] * B[1, 0], A[1, 0] * B[0, 1] + A[1, 1] * B[1, 1]]])

In [63]:
print("Manual A @ B:")
print(manual)

Manual A @ B:
[[19 22]
 [43 50]]

Rotation matrix (real 2D rotation)

In [64]:
angle = np.radians(45)
rot = np.array([[np.cos(angle), -np.sin(angle)],
                [np.sin(angle), np.cos(angle)]])
point = np.array([1, 0])
rotated = rot @ point
print("Rotated point:")
print(rotated)

Rotated point:
[0.70710678 0.70710678]