<a href="https://colab.research.google.com/github/Davron030901/Numpy/blob/main/MINI_TEST_STACKING_%26_SPLITTING_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

#vstack() Application

In [ ]:
shop_a = np.array([100, 120, 110, 130, 125])
shop_b = np.array([90, 110, 105, 115, 120])
shop_c = np.array([110, 115, 120, 125, 130])
shop_d = np.array([95, 105, 100, 110, 115])

shops = np.vstack([shop_a, shop_b, shop_c, shop_d])
print("Shape:", shops.shape)

Shape: (4, 5)

In [ ]:
each_day_sum = shops.sum(axis=0)
print("Shops each day sum", each_day_sum)

Shops each day sum [395 450 435 480 490]

In [ ]:
each_store_sum = shops.sum(axis=1)
print("Total sales of each store.", each_store_sum)

Total sales of each store. [585 540 600 525]

#hstack() Application

In [ ]:
scores = np.array([[85, 90, 78],
                  [88, 92, 84],
                  [90, 88, 86],
                  [82, 85, 80],
                  [95, 93, 91]])
average_scores = scores.mean(axis=1)
print("Average scores:", average_scores)

Average scores: [84.33333333 88.         88.         82.33333333 93.        ]

In [ ]:
scores_students = np.hstack([scores, average_scores.reshape(-1, 1)])
print("add the average to the end:")
print(scores_students)
print("Shape:", scores_students.shape)

add the average to the end:
[[85.         90.         78.         84.33333333]
 [88.         92.         84.         88.        ]
 [90.         88.         86.         88.        ]
 [82.         85.         80.         82.33333333]
 [95.         93.         91.         93.        ]]
Shape: (5, 4)

#split() 1D Array

In [ ]:
sales = np.array([100, 110, 120, 115, 125, 130,
                  135, 140, 145, 150, 155, 160])
quarter = ["Q1", "Q2", "Q3", "Q4"]
sales_quarter = np.split(sales, 4)
print("Sales quarter:")
print(sales_quarter)
sales_sum = np.array([])
for i in range(len(sales_quarter)):
  print(f'{quarter[i]}: {sales_quarter[i].sum()}')
  sales_sum = np.append(sales_sum, sales_quarter[i].sum())
print(f'Max sales {quarter[sales_sum.argmax()]}: {sales_sum.max()}')

Sales quarter:
[array([100, 110, 120]), array([115, 125, 130]), array([135, 140, 145]), array([150, 155, 160])]
Q1: 330
Q2: 370
Q3: 420
Q4: 465
Max sales Q4: 465.0

#vsplit() 2D Array

In [ ]:
np.random.seed(42)
students = np.random.randint(70, 100, (9, 4))
avg = np.array([])
groups = np.vsplit(students, 3)
for i, group in enumerate(groups, 1):
  print(f'Group {i+1} average:')
  print(group.mean())
  avg = np.append(avg, group.mean())
print(f'Max average Group {avg.argmax()+1}: {avg.max():.2f}')

Group 2 average:
86.91666666666667
Group 3 average:
83.58333333333333
Group 4 average:
85.75
Max average Group 1: 86.92

#Combined Scenario

In [ ]:
city_a = np.array([20, 22, 25, 23, 21, 24, 26])
city_b = np.array([18, 20, 22, 21, 19, 22, 24])

cities = np.vstack([city_a, city_b])
cities_weekly = np.hsplit(cities, [3, ])
print(cities_weekly)

[array([[20, 22, 25],
       [18, 20, 22]]), array([[23, 21, 24, 26],
       [21, 19, 22, 24]])]

In [ ]:
avg_week = np.array([])
week_half = ['Start', 'End']
for i, week in enumerate(cities_weekly):
  print(f'Week avg temperature {week_half[i]} :')
  print(week.mean())
  avg_week = np.append(avg_week, week.mean())
print(f'Week {week_half[avg_week.argmax()]} has the highest average temperature {avg_week.max():.2f}')

Week avg temperature Start :
21.166666666666668
Week avg temperature End :
22.5
Week End has the highest average temperature 22.50